@import "./variables";
@import "./buttons";

@mixin lw-alert-button($alert-button-color, $alert-button-border-color, $alert-button-hover-color, $alert-button-hover-border-color, $alert-button-text-color) {
  background-color: $alert-button-color;
  color: $alert-button-text-color;
  min-width: $lw-button-min-width;
  padding-left: $lw-button-padding-x;
  padding-right: $lw-button-padding-x;
  padding-top: 1px;
  padding-bottom: 1px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 4px;
  height: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: $alert-button-border-color;

  &:not([disabled]):hover, &:not([disabled]):active {
    background-color: $alert-button-hover-color;
    background-image: none;
    border-width: 2px;
    border-color: $alert-button-hover-border-color;
  }

  &:active {
    transform: scale(0.98);
  }

}

.lw-alert-header {
  .lw-alert-title {
    color: #2f3943;
  }
}

.lw-alert-content {
  color: $lw-secondary-6;
}

.lw-alert-buttons-container {

  .lw-alert-button-confirm {
    @include lw-alert-button($lw-button-background-color, $lw-button-background-color, $lw-button-background-hover-color, $lw-button-background-hover-color, $lw-button-text-color);
  }

  .lw-alert-button-cancel {
    @include lw-alert-button(#fff, $lw-secondary-3, $lw-secondary-1, $lw-secondary-3, $lw-secondary-6);
  }

}
