@import './variables';

.lw-balance-outer-container {

  padding-left: 0;
  margin-top: 25px;
  min-height: 90px;

  .lw-balance-note {
    font-size: 13px;
    line-height: 17px;
    color: $lw-secondary-2;
  }

  .lw-balance-container {
    line-height: 1;
    .lw-balance-current-balance {
      font-weight: 600;
      margin-bottom: 0;
    }
    .lw-balance-alt-currency-note {
      color: $lw-secondary-2;
      display: inline-block;
      margin-left: 10px;
      font-weight: 500;
      font-size: 16px;
    }
  }

  .lw-balance-volume {
    white-space: pre;
    margin-top: -2px;

    .lw-balance-volume-text {
      display: inline-block;
      font-family: IBMPlexSans;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: $lw-secondary-2;
    }

    img {
      margin-right: 5px;
    }
  }

  h2 {
    display: inline-block;
    font-size: 24px;
    font-family: IBMPlexSans;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
  }
  h4 {
    color: $lw-secondary-2;
    font-size: 16px;
    margin-left: 10px;
    display: inline-block;
    font-family: IBMPlexSans;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
  }

  .lw-balance-coindetails h2 { font-size: 18px; }
  .lw-balance-coindetails h4 { font-size: 14px; }

}

.lw-balance-filters {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: auto;
}
