@import './variables';

.lw-balance-outer-container {

  padding-left: 0;
  margin-top: 25px;

  .lw-balance-note {
    font-size: 13px;
    color: $lw-secondary-2;
  }

  .lw-balance-container {

    margin-top: 5px;

    h2 {
      display: inline-block;
      font-size: 24px;
    }
    h4 {
      color: $lw-secondary-2;
      font-size: 16px;
      margin-left: 10px;
      display: inline-block;
    }

  }

}
