@import './variables';

$lw-button-background-color: $lw-bg-1;
$lw-button-background-hover-color: lighten($lw-button-background-color, 15%);
$lw-button-text-color: $lw-text-primary;
$lw-button-transparent-text-color: #444444;
$lw-button-min-width: 150px;
$lw-button-height: 40px;
$lw-button-font-size: 16px;

button {
  border-radius: $lw-button-border-radius;
}

.lw-button {
  display: block;
  text-decoration: none;
  outline: 0;
  outline-offset: 0;
  text-align: center;
  box-shadow: none;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  min-width: $lw-button-min-width;
  height: $lw-button-height;
  font-size: $lw-button-font-size;
  border-radius: $lw-button-border-radius;
  background-color: $lw-button-background-color;
  color: $lw-button-text-color;
  user-select: none;

  &.lw-button-transparent {
    background-color: transparent;
    color: $lw-button-transparent-text-color;
    min-width: 0;

    &:disabled {
      opacity: .55;
      background-color: transparent;
      &:hover {
        opacity: .55;
        background-color: transparent;
      }
    }
    &:hover {
      opacity: .8;
      background-color: transparent;
    }
  }

  &:disabled {
    background-color: lighten($lw-button-background-color, 15%);
    &:hover {
      background-color: lighten($lw-button-background-color, 15%);
    }
  }
  &:focus {
    outline: 0;
    outline-offset: 0;
  }
  &:hover {
    background-color: darken($lw-button-background-color, 10%);
  }
  //&.light-hover {
  //  &:hover {
  //    background-color: lighten($lw-button-background-color, 20%);
  //  }
  //}
  &:active {
    transform: scale(0.98);
  }

  &.multiple-children {
    i {
      margin-left: 8px;
    }
  }

}

.lw-button-square {
  width: auto;
  max-height: 46px;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #949494;
  border-radius: 6px;
  margin: 5px 0 5px 10px;
  color: #949494;
  cursor: pointer;

  &:hover {
    color: white;
    border: 1px solid white;
  }

  &.active {
    color: white;
    border: 1px solid white;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}
