@import './variables';
@import './fonts';

.lw-dashboard-chart {
  position: relative;
  font-family: IBMPlexMonoMedium;
}
.lw-portfolio-chart {
  position: relative;
}
.lw-portfolio-piechart {
  position: absolute;
  font-family: IBMPlexSans;
}
