@import './variables';

.lw-dashboard-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .lw-dashboard-info {
    display: flex;
    flex-direction: row;

    .lw-balance-filters {
      @media only screen and (max-width: 1205px) {
        display: none;
      }
    }
  }
}
