@import './variables';

.lw-filtermenu-container {
  display: none;
  background-color: $lw-bg-6;
  flex-direction: column;
  position: absolute;
  right: 25px;
  width: 170px;
  height: 391px;
  margin-top: 441px;
  overflow-y: hidden;
  z-index: 1;

  &.active {
    display: flex;
  }
}
