@import './variables';

$lw-login-background-color: $lw-bg-6;
$lw-login-input-border-color: $lw-secondary-6;
$lw-login-input-border-color-active: $lw-secondary-6;
$lw-login-input-border-width: 1px;
$lw-login-input-total-height: 56px;
$lw-login-text-color: $lw-secondary-1;
$lw-login-input-total-width: 320px;
$lw-login-logo-total-width: 230px;

.lw-login-container {

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $lw-login-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .lw-login-inner-container {

    width: $lw-login-input-total-width;
    max-width: 100%;

    .lw-login-image-container {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;

      .lw-login-image {
        width: $lw-login-logo-total-width;
        max-width: 100%;
      }

    }

    .lw-login-input-container {

      margin-top: 50px;
      border-color: $lw-login-input-border-color;
      border-style: solid;
      border-width: $lw-login-input-border-width;
      border-radius: 6px;
      height: $lw-login-input-total-height + (2 * $lw-login-input-border-width);
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      box-sizing: border-box;

      button {
        color: $lw-secondary-6;
        height: $lw-login-input-total-height;
        line-height: $lw-login-input-total-height;
        font-size: 19px;
        background-color: transparent;
        display: block;
        text-decoration: none;
        outline: 0;
        outline-offset: 0;
        text-align: center;
        box-shadow: none;
        border: none;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;

        $svg-icon-height: 24px;

        &[type=submit] {
          padding: 0;
          width: $lw-login-input-total-height;
          font-size: $svg-icon-height;
          margin-top: -2px;
        }

        &:hover {
          opacity: .6;
        }

        svg {
          display: inline-block;
          width: $svg-icon-height;
          height: $svg-icon-height;
          fill: $lw-nav-selected;
        }

      }

      .lw-login-input-divider {
        border-left-color: $lw-login-input-border-color;
        border-left-width: $lw-login-input-border-width;
        border-left-style: solid;
        height: $lw-login-input-total-height;
      }

      input.lw-login-input {

        $padding: 20px;

        border-style: none;
        background-color: transparent;
        color: $lw-login-text-color;
        display: block;
        padding: $padding;
        padding-right: $padding - 10px;
        height: $lw-login-input-total-height;
        line-height: $lw-login-input-total-height;
        font-size: 16px;
        width: 100%;
        outline: none;
        font-weight: normal;
        flex: 1;
      }

      &.active {
        border-color: $lw-login-input-border-color-active;

        .lw-login-input-divider {
          border-left-color: $lw-login-input-border-color-active;
        }

      }

    }

  }

}

