.lw-modal-transaction-image {
  width: 68px;
  height: 68px;
  margin-top: 36px;
  margin-bottom: 36px;
}
.lw-modal-transaction-total-container {
  font-size: 18px;
  font-weight: bold;
}
.lw-modal-transaction-body {
  font-size: 14px !important;
}
