@import './variables';

.lw-modal-overlay {
  z-index: 10000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  .lw-modal-container {

    //$lw-modal-height: 600px;
    $lw-modal-width: 440px;

    $lw-modal-header-padding: 30px;
    $lw-modal-line-height: 28px;
    $lw-modal-header-height: (2 * $lw-modal-header-padding) + $lw-modal-line-height;

    width: $lw-modal-width;
    //height: $lw-modal-height;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.4);
    padding: 20px;

    a.lw-back-btn {
      display: block;
      text-decoration: none;
      color: $lw-secondary-6;
      height: 18px;
      position: absolute;
      left: 10px;
      top: 10px;

      &:hover, &:active, &:focus {
        text-decoration: none;
        color: darken($lw-secondary-6, 15%);
      }

    }

    a.lw-close-btn {
      display: block;
      text-decoration: none;
      color: $lw-secondary-6;
      width: 18px;
      height: 18px;
      position: absolute;
      right: 11px;
      top: 11px;

      &:hover, &:active, &:focus {
        text-decoration: none;
        color: darken($lw-secondary-6, 15%);
      }

    }

    .lw-modal-header-container {

      h4 {
        height: fit-content;
        line-height: $lw-modal-line-height;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        padding-top: 10px;
        padding-bottom: $lw-modal-header-padding;
        color: $lw-modal-default-text-color;
        margin-bottom: 0;
      }

    }

    .lw-modal-body-container {
      box-sizing: border-box;
      //height: $lw-modal-height - $lw-modal-header-height;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      color: $lw-modal-default-text-color;
      font-size: 13px;
    }

  }

  .lw-modal-field-label-container {
    display: flex;
    flex-direction: row;
  }

  .lw-modal-field-label {
    font-family: IBMPlexSans;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 13px;
    color: $lw-secondary-6;

    &.right-end {
      margin-left: auto;
    }

    &.notification {
      color: $lw-positive-2;
      visibility: hidden;
      opacity: 0;
      transition: opacity $lw-animation-duration ease-in-out, visibility $lw-animation-duration ease-in-out;
    }

    &.show {
      visibility: visible;
      opacity: 1;
      transition: opacity $lw-animation-duration ease-in-out, visibility $lw-animation-duration ease-in-out;
    }
  }

  .lw-modal-placeholder-label {
    font-family: IBMPlexSans;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 15px;
    color: $lw-secondary-6;
  }

  .lw-modal-description-label {
    font-family: IBMPlexSans;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 14px;
    color: $lw-secondary-6;
  }

  .lw-modal-description-value {
    font-family: IBMPlexSans;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 14px;
    color: $lw-secondary-6;
  }

  .lw-modal-description-value-bold {
    font-family: IBMPlexSans;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-size: 14px;
    color: $lw-secondary-10;
  }
}
