@import './variables';

$lw-navbar-background: $lw-bg-6;
$lw-navbar-height: 60px;
$lw-navbar-vert-padding: 10px;
$lw-navbar-horiz-padding: 20px;
$lw-navbar-inner-height: $lw-navbar-height - $lw-navbar-vert-padding - $lw-navbar-vert-padding;
$lw-navbar-text-color: $lw-text-primary;

.lw-navbar-container {
  background-color: $lw-navbar-background;
  height: $lw-navbar-height;
  min-height: $lw-navbar-height;
  width: 100%;
  padding-top: $lw-navbar-vert-padding;
  padding-bottom: $lw-navbar-vert-padding;
  padding-left: $lw-navbar-horiz-padding;
  padding-right: $lw-navbar-horiz-padding;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .logo-badge-container {
    display: flex;
    align-items: center;
  }

  .lw-navbar-logo {
    display: block;
    height: $lw-navbar-inner-height - 10;
    width: auto;
    margin-right: 5px;
  }

  button.lw-button {
    border-radius: 4px;
    margin-left: $lw-navbar-horiz-padding;
    margin-right: 0;
    width: 140px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.16px;
    color: $lw-text-primary;
    @media (max-width: 738px) {
      min-width: 0;
    }

    svg {
      margin-top: -3px;
    }

  }

  .dropdown {
    height: $lw-navbar-inner-height;
    .lw-button {
      height: 100%;
    }
  }

}
