@import './variables';

$lw-row-padding-horiz: 20px;
$lw-row-padding-vert: 18px;

.lw-table-container {

  $row-height: 50px;
  $text-size: 13px;
  color: $lw-secondary-1;

  .lw-table-header {
    height: $row-height;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $lw-bg-6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-top: $lw-row-padding-vert;
    padding-bottom: $lw-row-padding-vert;
    padding-left: $lw-row-padding-horiz;
    padding-right: $lw-row-padding-horiz;

    .lw-table-column-heading {
      color: $lw-secondary-2;
      text-align: center;
      line-height: 16px;
      font-size: $text-size;
    }

  }

  .lw-table-row {


    height: $row-height;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $lw-bg-6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-top: $lw-row-padding-vert;
    padding-bottom: $lw-row-padding-vert;
    padding-left: $lw-row-padding-horiz;
    padding-right: $lw-row-padding-horiz;

    div.lw-table-data-container {
      font-size: 13px;
      line-height: 16px;
      text-align: center;
    }

    //&:last-child {
    //  border-bottom-style: none;
    //}
  }

}
