@import './variables';

.lw-transactions-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.lw-table-top-label {
  font-family: IBMPlexMono;
  font-size: 13px;
  color: $lw-secondary-1;
}
.lw-table-bottom-label {
  font-family: IBMPlexMono;
  font-size: 11px;
  color: $lw-secondary-3;
}
