$lw-text-primary: #ffffff; // white
$lw-secondary-1: #eaeaea; // grey-1
$lw-secondary-2: #c8cdd6; // grey-2
$lw-secondary-3: #b6bdc5; // grey-3
$lw-secondary-4: #a4afb7; // grey-4
$lw-secondary-5: #96999d; // grey-5
$lw-secondary-6: #69747e; // grey-6
$lw-secondary-7: #585c62; // grey-7
$lw-secondary-8: #3f4752; // grey-8
$lw-secondary-9: #383e44; // grey-9
$lw-secondary-10: #2b3641; // grey-10
$lw-bg-1: #1859ff; // button-blue-hover
$lw-bg-2: #0045f6; // blue-default
$lw-bg-3: #0e2e57; // table-row-hover-bg
$lw-bg-4: #112c4d; // body-bg
$lw-bg-5: #172c45; // dark-blue-bg
$lw-bg-6: #061b36; // blue-royal
$lw-negative-1: #ff3030; // negative
$lw-negative-2: #e93333; // notify-bg-neg-hover
$lw-negative-3: #c13333; // notify-bg-neg
$lw-positive-1: #00c209; // positive
$lw-positive-2: #00a409; // notify-bg-pos
$lw-nav-selected: #01ffa0; // nav-selected-green
