@import "./bootstrap/bootstrap";
@import "./fontawesome/regular";
@import "./fontawesome/solid";
@import "./fontawesome/brands";
@import "./fontawesome/fontawesome";
@import "../../node_modules/react-perfect-scrollbar/dist/css/styles";
@import "../../node_modules/sweetalert2/dist/sweetalert2";
@import "./lw/variables";
@import "./lw/login";
@import "./lw/navbar";
@import "./lw/buttons";
@import "./lw/dropdown";
@import "./lw/sidebar";
@import "./lw/inputs";
@import "./lw/balance";
@import "./lw/transactions";
@import "./lw/card";
@import "./lw/table";
@import "./lw/modal";
@import "./lw/modal-receive";
@import "./lw/modal-send";
@import "./lw/portfolio";
@import "./lw/modal-transaction-detail";
@import "./lw/dashboard";
@import "./lw/alerts";
@import "./lw/spinner";
@import "./lw/copyable-link";

// Change default sweetalert z-index
.swal2-container {
  z-index: 10000;
}

.color-negative {
  color: $lw-negative-1;
}

.lw-color-positive-1 {
  color: $lw-positive-1;
}
.lw-text-primary {
  color: $lw-text-primary;
}
a.lw-text-primary {
  color: $lw-text-primary;
  &:hover, &:focus, &:active {
    text-decoration: none;
    color: darken($lw-text-primary, 10%);
  }
}
.lw-color-secondary-2 {
  color: $lw-secondary-2;
}
.lw-color-secondary-3 {
  color: $lw-secondary-3;
}
.lw-color-secondary-4 {
  color: $lw-secondary-4;
}
.lw-color-secondary-5 {
  color: $lw-secondary-5;
}
.lw-color-secondary-6 {
  color: $lw-secondary-6;
}
.lw-color-secondary-10 {
  color: $lw-secondary-10 !important;
}
a.lw-color-secondary-10 {
  color: $lw-secondary-10;
  &:hover, &:focus, &:active {
    text-decoration: none;
    color: lighten($lw-secondary-10, 10%);
  }
}
.lw-bg-secondary-2 {
  background-color: $lw-secondary-2;
}
.lw-bg-secondary-6 {
  background-color: $lw-secondary-6;
}

body {
  background-color: $lw-bg-4;
  color: $lw-text-primary;
}

.lw-coin-select {
  color: #444444;
  font-size: 16px;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-decoration: none;
  border-color: $lw-secondary-2;
  border-width: 1px;
  border-style: solid;
  border-radius: $lw-button-border-radius;
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;

  &:hover, &:focus, &:active {
    text-decoration: none;
  }

  img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
  }

  div {
    flex-grow: 1;
    font-weight: 500
  }

}

.lw-coin-select-item {
  color: #444444;
  font-size: 16px;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-decoration: none;

  img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
  }

  div {
    flex-grow: 1;
    font-weight: 500;
  }

}

$lw-input-text-color: #444444;

.lw-address-input-container {

  color: $lw-input-text-color;
  font-size: 16px;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-decoration: none;
  border-color: $lw-secondary-2;
  border-width: 1px;
  border-style: solid;
  border-radius: $lw-button-border-radius;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 0;

  input {
    font-family: IBMPlexSans;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-style: none;
    font-size: 14px;
    line-height: 54px;
    flex-grow: 1;
    outline: none;
    &:focus {
      outline: none;
    }
  }

  a {
    height: 54px;
    line-height: 54px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: $lw-secondary-2;
    border-radius-topright: $lw-button-border-radius;
    border-radius-bottomright: $lw-button-border-radius;
  }

}

textarea.lw-textarea {
  color: $lw-input-text-color;
  font-size: 16px;
  width: 100%;
  border-color: $lw-secondary-2;
  border-width: 1px;
  border-style: solid;
  border-radius: $lw-button-border-radius;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  resize: none;
  &:focus {
    outline: none;
  }
}

a.lw-color-secondary-6 {
  color: $lw-secondary-6;
  &:hover, &:focus, &:active {
    color: $lw-secondary-6;
  }
}

.dropdown-menu {

  width: 100%;

  button.dropdown-item {
    border-radius: 0;
  }
}

a.lw-send-max-toggle {
  color: $lw-secondary-6;
  &:hover, &:focus, &:active {
    color: darken($lw-secondary-6, 20%);
    text-decoration: none;
  }
}

div.lw-percent-bar {

  $lw-percent-bar-height: 6px;

  background-color: $lw-secondary-7;
  width: 100%;
  height: $lw-percent-bar-height;
  border-radius: 3px;
  overflow: hidden;

  div {
    background-color: $lw-positive-1;
    height: $lw-percent-bar-height;
    width: 0;
  }

}

// In case we want to manually do scrollbars rather than use perfect scrollbar
//$lw-scrollbar-color: #d4d4d4;
//::-webkit-scrollbar {
//  width: 14px;
//}
//::-webkit-scrollbar-thumb {
//  background-color: rgba(212, 212, 212, 0.5);
//  border-color: transparent;
//  border-style: solid;
//  border-left-width: 4px;
//  border-right-width: 4px;
//  border-top-width: 0;
//  border-bottom-width: 0;
//  background-clip: padding-box;
//  -webkit-border-radius: 7px;
//}
//::-webkit-scrollbar-button {
//  width: 0;
//  height: 0;
//  display: none;
//}
